*.jar
.dropbox
*.class
.classpath
.project
.#*
\#*
*.pyc
*.pyo
*.swp
*.swo
bin/
lib/
include/
src/shared
.Python
.idea/
err.log
tmp.xml
tmp
cache/
output.xml
*_flymake.pyn
*_submission/
*_submission.zip
src/error
src/test.xml
out2.xml
reports/
thor.java
Object.java
Object.java.xml
$Array.java.xml
src/test_cases/a6/*.xml
src/test_cases/stdlib/6.0/java/io/*.xml
src/test_cases/stdlib/6.0/java/lang/*.xml
src/test_cases/stdlib/6.0/java/util/*.xml
src/test_cases/stdlib/4.0/java/io/*.xml
src/test_cases/stdlib/4.0/java/lang/*.xml
src/test_cases/stdlib/4.0/java/util/*.xml